{% extends "base.html" %}

{% block content %}
<style>
  .menu_item-title {
    font-family: "Roboto", sans-serif;
    color: #343a40;
    font-size: 1.5rem;
    transition: color 0.3s;
  }

  .menu_item-title:hover {
    color: #007bff;
  }

  .card {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }

  .card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
  }

  .card-img-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    height: 200px;
    object-fit: cover;
  }

  .btn-custom {
    background: linear-gradient(45deg, #007bff, #00d4ff);
    color: white;
    border: none;
    transition: background 0.3s;
  }

  .btn-custom:hover {
    background: linear-gradient(45deg, #00d4ff, #007bff);
  }
</style>
<h1 class="text-center my-4">Our Awesome Menu</h1>
<div class="row justify-content-center">
  {% for menu_item in menu %}
  <div class="col-md-4 mb-4 d-flex align-items-stretch">
    <div class="card" onclick="redirectToMenuItem('{{ menu_item.id }}')">
      <img src="{{ menu_item.image }}" class="card-img-top" alt="{{ menu_item.name }}" />
      <div class="card-body text-center">
        <h5 class="card-title menu_item-title">{{ menu_item.name }}</h5>
        <p class="card-text text-muted">${{ menu_item.price }}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<script>
  function redirectToMenuItem(menu_itemId) {
    const url = `{% url 'menu_item' %}${encodeURIComponent(menu_itemId)}/`;
    window.location.href = url;
  }
</script>
{% endblock %}
